<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Website</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/38bbbd6e81.js" crossorigin="anonymous"></script>
    <script src="../tailwind.config.js"></script>
    <style>
        button{
            background-color : #3E3E3F;
        }
        button:hover{
            background-color : #2b2b2b;
        }
    </style>
</head>

<body class="bg-white">

    <!-- Top Bar -->
    <header class="p-8 px-16 bg-white">
        <div class="container mx-auto flex items-center justify-between">
            <!-- Logo -->
            <a href="home.html"><img src="/img/logo1.png" alt="Logo" class="h-7"></a>

            <!-- Power Button Icon for Logout -->
            <div class="text-xl">
                <a href="profile.html"><i class="fa-regular fa-user px-2" style="color: #3E3E3F;"></i></a>
                <a href="post.html"><i class="fa-solid fa-pen-to-square px-2" style="color: #3E3E3F;"></i></a>
                <a href="#"><i class="fa-solid fa-power-off px-2" style="color: #3E3E3F;"></i></a>
            </div>
        </div>
    </header>

    <section class="bg-white dark:bg-gray-900 py-8 lg:py-16 antialiased">
        <div class="max-w-2xl mx-auto px-4">
            <div class="flex justify-between items-center mb-6">
              <h2 class="text-lg lg:text-2xl font-bold text-gray-900 dark:text-white">Discussion (20)</h2>
          </div>
          <form class="mb-6">
              <div class="py-2 px-4 mb-4 bg-white rounded-lg rounded-t-lg border border-gray-200 dark:bg-gray-800 dark:border-gray-700">
                  <label for="comment" class="sr-only">Your comment</label>
                  <textarea id="comment" rows="6"
                      class="px-0 w-full text-sm text-gray-900 border-0 focus:ring-0 focus:outline-none dark:text-white dark:placeholder-gray-400 dark:bg-gray-800"
                      placeholder="Write a comment..." required></textarea>
              </div>
              <button type="submit"
                  class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900">
                  Post comment
              </button>
          </form>
        </div>
        </section>
</body>

</html>
